
<div class="bar">
<mat-toolbar color="primary">
  <img mat-card-image src="/assets/image/person.svg">
    <span>ADMIN</span>
    <!-- <button  mat-raised-button  color="primary" routerLink="/home" routerLinkActive="active">LOGOUT</button> -->
  </mat-toolbar>
 </div>

 <div style="padding: 50px;" class="d-flex align-items-center justify-content-center">
  <div class="shadow-lg p-3 mb-5 bg-white" id="box" style="opacity: 1;">  
   <div class="container">
     <div class="row justify-content-center">
         <h2  class="font-weight-bold" style="color: rgb(20, 20, 20);"></h2>
     </div>
     <div class="row">
      <div class="col-sm-6" style="text-align: center;">
          <button type = "button" color="btn-light" class = "btn btn-light" routerLink="/admin">Add A Trains</button><br><br>
          </div>
     </div>
     <div class="col-sm-6" style="text-align: center;">
      <button type = "button" class = "btn btn-light"  routerLink="/bookdetails">View All Booked Tickets</button><br><br>
     </div>
     </div>
