input.ng-invalid.ng-touched
{
    border-left:5px solid red;
}

input.ng-valid.ng-touched
{
    border-left: 5px solid greenyellow;
}

form{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.wrapperbtn
{
    text-align: center;
}